.about-us {
    padding-top: 120px;
    width: 1600px;
    margin-right: auto;
  margin-left: auto;
}


.about-item {
width: 970px;
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
margin-top: 50px;
}