.contacts {
    display: flex;
}
.tel {
margin-top: 50px;
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; /* 20.502px */
letter-spacing: 0.54px;
}
.tel-link {
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
}
.mail {
margin-top: 40px;
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; /* 20.502px */
letter-spacing: 0.54px; 
}
.mail-link {
 color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */   
}
.adress {
 margin-top: 40px;
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; /* 20.502px */
letter-spacing: 0.54px;
text-decoration-line: underline;    
}
.location-adress-text {
 margin-top: 10px;   
}
.schedule {
margin-top: 10px;  
}
.text {
margin-top: 80px;
width: 470px;
}
 .name-input {
border: none;
outline: none;
background: inherit;
width: 443px;
border-bottom: 1px solid  #DADADA;
margin-top: 67px;
}
.name-input::placeholder {
color: #C4C4C4;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 113.9%;
margin-bottom: 110px;
}
.note {
margin-top: 32px; 
}
.note-privacy-policy {
color: #6F6F6F;
width: 448px;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 107.613%; /* 15.066px */
margin-top: 10px; 
}
.privacy-policy {
text-decoration-line: underline;
}
.form {
width: 370px;
height: 56px;
background: #2D2D2D;
color: #FFF;
font-family: "Montserrat", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; /* 18.224px */
letter-spacing: 0.48px;
margin-top: 20px;
}