.delivery {
padding-top: 120px;
width: 1600px;
margin-right: auto;
margin-left: auto;
}
.delivery-title {
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; /* 28.475px */
letter-spacing: 0.75px;
margin-top: 50px;
}
.delivery-indent {
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
margin-top: 50px;
}
.video {
    margin-top: 50px;
}
.poshtomati-np {
   margin-top: 50px; 
}