.hero {
margin-left: auto;
margin-right: auto;
background-size: cover;
width: 320px;
height: 864px;
position: relative;
overflow: hidden;}
@media screen and (min-width: 1200px) {
.hero {  
width: 1600px;
min-height: 864px;
}
}

.hero-image {
width: 320px;
height: 605px;}
@media screen and (min-width: 1200px) {
.hero-image {
  width: 1600px;
  height: 864px;
  object-fit: cover; 
  position: absolute;
  object-position: 0% 20%;
}
}

 .hero-content {
  position: absolute;
  text-align: center;
    top: 50%;
  left: 50%;
 }
     .hero-button {
    padding: 19px 68px;
    color: #2D2D2D;
    border: 1px solid #FFF;
    background: #FFF;
    height: 56px;
    width: 300px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.48px;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
    z-index: 20;
    position: relative; }
    
@media screen and (min-width: 1200px) {
  .hero-content {  
  margin-left: 385px;   
  transform: translate(-50%, -50%);
  z-index: 100; 
}
.season-title {
color: #FFF;
font-family:'Montserrat', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; 
letter-spacing: 0.75px;
margin-bottom: 25px;
}
  .hero-title {
color: #FFF;
text-align: center;
font-family: 'Playfair Display';
font-size: 63px;
font-style: normal;
font-weight: 500;
line-height: 113.9%; 
letter-spacing: 1.89px;
text-transform: uppercase;
margin-bottom: 25px;
  }
    .hero-button {
    padding: 19px 68px;
    color: #2D2D2D;
    border: 1px solid #FFF;
    background: #FFF;
    height: 56px;
    width: 300px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.48px;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
    z-index: 20;
    position: relative; 
  }
}

@media screen and (min-width: 1200px) {
.swiper-container{
display: flex;
 width: 100%;
  height: 100%;
}}
 .swiper-button-prev, .swiper-button-next {
  width: 100px;
  height: 100px;
  margin-top: 0; 
  z-index: 10;
  color: #FFF;
 }

.swiper-button-prev {   
  left: 30px; 
}

.swiper-button-next {   
  right: 30px; 
}

.swiper-pagination {
  color: #FFF;
}

.hero .swiper-pagination-bullet {
    background: #DCDBDB;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    opacity: 1;
}
.hero .swiper-pagination-bullet-active {
     background: #E5E5E5;
}

@media only screen and (max-width: 768px) {
    .swiper-button-prev, .swiper-button-next, .swiper-pagination {
        display: none;
    }

    .swiper-wrapper {
        transform: translate3d(0, 0, 0);
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: auto;
    }

    /* Опціонально: показати тільки перший слайд */
    .swiper-slide:not(:first-child) {
        display: none;
    }
}
