.spring {
    padding-top: 120px;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.spring-text {
    display: flex;
}
.collection-title {
width: 328px;
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 113.9%; /* 28.475px */
letter-spacing: 0.75px;
margin-right: 124px;
}
.collection-item {
width: 370px;
color: #2D2D2D;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}
.collection-link {
margin-top: 20px;
color: #6F6F6F;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
text-decoration-line: underline;
}
 .buy {
margin-top: 120px;
}
