<header class="header">
    <div class="container main-nav">
        <div class="container-site-nav">
        <ul class="site-nav">
            <li class="item">
                <a href="./novelty.html" class="site-nav-link link">Новинки</a>
            </li>
            <li class="item">
                <a href="./clothes.html" class="site-nav-link link">Одяг</a>
            </li>
            <li class="item">
                <a href="./accessories.html" class="site-nav-link link">Аксесуари</a>
            </li>
            <li class="item">
                <a href="./sale.html" class="site-nav-link link">SALE</a>
            </li>
        </ul>
        </div>
        <nav class="main-site-nav">
      <a href="./index.html" class="logo link"></a>
      </nav>
      <div class="form-container">      
        <svg class="icon-item-search" width="19" height="19">
          <use href="./images/symbol.svg#icon-search"></use>
        </svg>
               
            <input class="input"            
            type="text" 
            name="search" 
            placeholder="Пошук"/>
     </div>
      <ul class="icon">
        <li class="icon-item">
            <svg class="icon-item-group" width="31" height="31">
          <use href="./images/symbol.svg#icon-heart-o"></use>
        </svg>
        </li>
        <li class="icon-item">
          <a href="./cart.html" class="auth-nav-link link icon-cart-link">
            <svg class="icon-item-group" width="29" height="29">
          <use href="./images/symbol.svg#icon-shopping-bag"></use>
        </svg>
        </a>
        </li>
        <li class="icon-item">
            <svg class="icon-item-group" width="31" height="31">
          <use href="./images/symbol.svg#icon-user"></use>
        </svg>
        </li>
      </ul>
    </div>
</header>