<section class="new_collection main-collection">
    <div class="container">
        <h2 class="collection">New collection</h2>
        <ul class="list-collection">
            <li class="item-collection">
                <img class="img-collection" 
                src="./images/IMG_1.png" 
                alt="Black suit"
                width="270" 
                height="353" >
                <p class="name">Kомбінезон чорний з глибоким декольте</p>
                <p class="price">2600 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection" 
                src="./images/IMG_2.png" 
                alt="White dress "
                width="270" 
                height="353">
                <p class="name">Сукня біла з відкритою спиною</p>
                <p class="price">2200 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection" 
                src="./images/IMG_3.png" 
                alt="Green dress"
                width="270" 
                height="353">
                <p class="name">Сукня зелена асиметрія</p>
                <p class="price">2500 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection" 
                src="./images/IMG_4.png" 
                alt="Beige suit"
                width="270" 
                height="353">
                <p class="name">Kомбінезон беж з глибоким декольте</p>
                <p class="price">2600 грн</p>
            </li>
        </ul>
        <ul class="list-collection-two">
            <li class="item-collection">
                <img class="img-collection-two"
                 src="./images/IMG_5.png">
                <p class="name">Сукня чорна асиметрія</p>
                <p class="price">2500 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection-two"
                 src="./images/IMG_6.png">
                <p class="name">Kомбінезон червоний з глибоким декольте</p>
                <p class="price">2600 грн</p>
            </li>
        </ul>
        
    </div>
</section>