<section class="spring">
    <div class="container">
        <div class="spring-text">
        <h2 class="collection-title">Натхненні весною</h2>
         <div>
            <p class="collection-item">Коли природа пробуджується, наповнюючи серце свіжістю та новими ідеями. 
            Період, коли кожна квітка і промінь сонця стають музою, що вдихає життя в нашу творчість.</p>
            <a class="collection-link" href="./about_Us.html">Про бренд</a>
         </div>
        </div>
        <ul class="list-collection-two">
            <li>
                <img  src="./images/IMG_7.png">
            </li>
            <li>
                <img  src="./images/IMG_8.png">
            </li>
        </ul>
        <h2 class="collection-title buy">Встигни купити</h2>
        <ul class="list-collection">
            <li class="item-collection">
                <img class="img-collection" src="./images/IMG_1.png" alt="Black suit">
                <p class="name">Kомбінезон чорний з глибоким декольте</p>
                <p class="price">2600 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection" src="./images/IMG_2.png" alt="White dress ">
                <p class="name">Сукня біла з відкритою спиною</p>
                <p class="price">2200 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection" src="./images/IMG_3.png" alt="Green dress">
                <p class="name">Сукня зелена асиметрія</p>
                <p class="price">2500 грн</p>
            </li>
            <li class="item-collection">
                <img class="img-collection" src="./images/IMG_4.png" alt="Beige suit">
                <p class="name">Kомбінезон беж з глибоким декольте</p>
                <p class="price">2600 грн</p>
            </li>
        </ul>
    </div>
</section>